{% extends "base.html" %}

{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'anmelden.css' %}" />
{% endblock %}

{% block template %}
 <div class="wrapper">
    <form method="POST" action="{% url 'anmelden' %}">
      {% csrf_token %}
        <h1>Anmelden</h1>

        <div class="input-box">
           <input type="text" name="username" placeholder="Benutzername" required> 

        </div>

        <div class="input-box">
           <input type="password" name="password" placeholder="Passwort" required>
        </div>
        
        <div class="remember-forgot">
           <a href="{% url 'passwort_zuruecksetzen' %}">Passwort vergessen?</a>
        </div>
        
        <button type="submit" class="btn btn-primary">Anmelden</button>
        <div class="register-link">
           <p>Noch kein Konto? <a href="/registrieren">Registrieren</a></p>
    </form>
 </div>

{% endblock template %}

