{% extends "navbar.html" %}
{% block head %} {% load static %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'kategorie.css' %}">
{% endblock %}
{% block navbar %}

<div class="page-wrapper">
<div class="page-header">

  <h3 class="mb-0">Meine Kategorien</h3>



    <a href="/kategorie_hinzufuegen" class="action-btn">
      <span class="icon-tooltip --primary">
        <i class="bi bi-plus-circle-fill fs-4 text-white"></i>
        <span class="tooltip-text">Kategorie hinzufügen</span>
      </span>
    </a>

</div>


<table class="custom-table">
  <thead>
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if page_obj %}
        {% for kategorie in page_obj %}
          <tr>
           
            <td>{{ kategorie.name }}</td>
            <td>
           
            <div class="d-flex gap-3">

                <a href="/kategorie/loeschen/{{ kategorie.kategorieId }}" class="btn btn-light">
                <span class="icon-tooltip">
                <i class="bi bi-trash fs-4 text-danger"></i>
                <span class="tooltip-text">Kategorie löschen</span>
                </span>
                </a>
            </div>
            </td>


          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="6">Keine Kategorien gefunden.</td>
        </tr>
      {% endif %}

  </tbody>
</table>

{% endblock navbar %}
