<div class="pagination text-center mt-3">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1{{ extra_qs }}">&laquo; Erste</a>
      <a href="?page={{ page_obj.previous_page_number }}{{ extra_qs }}">Zurück</a>
    {% endif %}

    <span class="current mx-2">
      Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{{ extra_qs }}">Weiter</a>
      <a href="?page={{ page_obj.paginator.num_pages }}{{ extra_qs }}">Letzte &raquo;</a>
    {% endif %}
  </span>
</div>

