{% extends "base.html" %}

{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'registrieren.css' %}" />
{% endblock %}

{% block template %}
<div class="container">
    <div class="alert">
        <h4 class="alert-heading">Passwort zurücksetzen</h4>
        <p>Hallo,</p>
        <p>Sie haben eine Anfrage zum Zurücksetzen Ihres Passworts gestellt. Klicken Sie auf den Link unten, um ein neues Passwort zu erstellen:</p>
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        <hr>

    </div>
</div>


{% endblock template %}