{% extends "base.html" %}

{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'registrieren.css' %}" />
{% endblock %}

{% block template %}
{% if validlink %}
<div class="wrapper">
  <form  method="POST">
    {% csrf_token %}

    <div class="input-box">
      <input type="password" class="form-control" placeholder="Neues Passwort" name="new_password1">
    </div>
    <div class="input-box">
        
        <input type="password" class="form-control"  placeholder="Neues Passwort bestätigen" name="new_password2">
       
    </div>
    <button type="submit" class="btn btn-primary">neues Passwort bestätigen</button>
  </form>
{% else %}
    <p>Der Link zum Zurücksetzen des Passworts ist ungültig, möglicherweise weil er bereits verwendet wurde. Bitte fordern Sie einen neuen Link zum Zurücksetzen des Passworts an.</p>
    {% endif %}
  </div>
{% endblock template %}